<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <connectionStrings>
    <add name="AuditReportDBEntities" connectionString="data source=(LocalDb)\MSSQLLocalDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework;attachdbfilename=|DataDirectory|\App_Data\AuditReportDB.mdf" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>