################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
obj
bin
obj
bin
/Input
/packages
obj
bin
obj
bin
