<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
	<appSettings>
		<add key="TimeInterval" value="3600000" />
		<add key="LocalDirectoryInput" value="E:\Projects\AzureAutomation\AuditAutomation\Input" />
    <add key="LocalDirectoryOutput" value="E:\Projects\AzureAutomation\AuditAutomation\output" />
		<add key="FileType" value="*.json" />
	</appSettings>
</configuration>